<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.news.mapper.UserMapper">
    <select id="findUserById" parameterType="int" resultType="user">
        select * from t_user where userId = #{userId}
    </select>
    <insert id="add" parameterType="user">
        insert into t_user(userName,userPwd) values(#{userName},#{userPwd})
    </insert>
    <select id="findUserNameByNameAndPwd" parameterType="user" resultType="user">
        select * from t_user where userName = #{userName} and userPwd = #{userPwd}
    </select>
</mapper>